body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#rows {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
}

.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}

.X, .O {
    font-size: 80px;
    font-family: cursive;
}

.X {
    color: lightgreen;
}
.O {
    color: midnightblue;
}